<p class="section-title text-center">🛒 Carrito de Compras</p>

<div class="container mt-4">
  <div class="row">
    <div
      class="col-md-4 col-sm-6 mb-4"
      *ngFor="let producto of productosCarrito"
    >
      <div class="card producto-card h-100 shadow-sm">
        <img
          [src]="producto.imagen"
          class="card-img-top producto-img"
          [alt]="producto.titulo"
        />
        <div class="card-body">
          <h5 class="card-title text-primary fw-semibold">
            {{ producto.titulo }}
          </h5>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-5">
    <button mat-raised-button color="primary" routerLink="/products">
      Seguir comprando
    </button>
  </div>
</div>
